# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore environment-specific configuration files
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore dist directories
dist/
build/
